<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Hair Salon Stylist</title>
    </head>
    <body>
        <div class='container'>
            <h1>Current Hair Stylists:</h1>

            <p>Add a new stylist to your roster:</p>

            <form action="/stylists" method="post">
                <div class='form-group'>
                    <label for="stylist_name">Enter a stylist's name:</label>
                    <input id="stylist_name" name="stylist_name" class='form-control' type="text">
                </div>
                <button type="submit" class='btn btn-info'>Add</button>
            </form>

            <form action='/delete_stylists' method='post'>
                <button type='submit' class='btn btn-danger'>Erase Stylist</button>
            </form>

            {% if stylists is not empty %}
                <p>Add another stylist:</p>
                <ul>
                    {% for stylist in stylists %}
                    <li><a href="/stylists/{{ stylist.getId }}">{{ stylist.getStylistName}}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>You have no hair stylists.</p>
            {% endif %}
        </div>
    </body>
</html>
