<html>
    <head>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <title>Stylist Listing</title>
    </head>
    <body>
        <div class='container'>
            <h1>{{ stylist.getStylistName }}</h1>

            {% if clients is not empty %}
                <p>List of stylist's clients:</p>
                <ul>
                    {% for client in clients%}
                        <li>{{ client.getClientName }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h3>Enter another client for the stylist:</h3>

            <form action='/clients' method='post' class="form-inline">
                <div class='form-group'>

                    <input id='stylist_id' name='stylist_id' type='hidden' value='{{ stylist.getId }}'>

                    <label for='client_name'>Client's Name:</label>
                    <input id='client_name' name='client_name' class='form-control' type='text'>
                </div>

                <button type='submit' class='btn btn-info'>Add Client</button>
            </form>

            <form action='/delete_clients' method='post'>
                <button type='submit' class='btn btn-danger'>Erase Clients</button>
            </form>

            <p><a href="/stylists/{{ stylists.getId }}/edit">Edit this stylist</a></p>

            <p><a href='/'>Home</a></p>
        </div>
    </body>
</html>
